<font face="Arial" size="+2" color="black"><u><b>Easy Labelling of Epanet Data On Autocad Using </u></b><font face="Arial" size="+3" color="green"><u><b>#</u></b><font face="Arial" size="+2" color="purple"><u><b>Python</u></b><font face="Arial" size="+3" color="red"><u><b>#</u></b><font face="Arial" size="+2" color="green"><u><b>Pyautocad</u></b><font face="Arial" size="+3" color="orange"><u><b>#</u></b><font face="Arial" size="+2" color="brown"><u><b>Pandas</u></b>

<font face="Arial" size="+1.7" color="blue"><u><b>1.This code cell is the required package and library required to execute the task.</u><b>

In [2]:
from pyautocad import Autocad, APoint
import pandas as pd

 <font face="Arial" size="+1.7" color="blue"><u><b>2.This code cell link active autocad modelspace for the drawing.</u><b>

In [3]:
acad=Autocad()     #create_if_not_exists=True
print(acad.doc.Name)
doc=acad.ActiveDocument
ms=doc.ModelSpace

Drawing1.dwg

 <font face="Arial" size="+1.7" color="blue"><u><b>3.This code cell will set layers details to be loaded on autocad modelspace.</u><b>

In [4]:
layers=['node','linkid','text','tp','ln']
colors = [20,92,2,250,170]
Lt= ['HIDDEN','ACAD_ISO06W100','PHANTOM','DOT','ACAD_ISO05W100']

 <font face="Arial" size="+1.7" color="blue"><u><b>4.This code cell will load layers on autocad modelspace.</u><b>

In [5]:
for i in range(len(layers)):
    Layer1=acad.ActiveDocument.Layers.Add(layers[i])
    Layer1.color=colors[i]
    acad.ActiveDocument.Linetypes.Load(Lt[i],"acad.lin")
    Layer1.Linetype=Lt[i]
    Layer1.Lineweight= 0.02

 <font face="Arial" size="+1.7" color="blue"><u><b>5.Importing data from Epanet Report in Jupyter notebook .Here Pandas library is used.</u><b>

In [10]:
file=pd.read_excel('epanet_output.xls',sheet_name='Nodal')
file_lnk=pd.read_excel('epanet_output.xls',sheet_name='link_design')
file_lnkana=pd.read_excel('epanet_output.xls',sheet_name='link_analysis')

 <font face="Arial" size="+1.7" color="blue"><u><b>6.Displaying the data from imported excel file.</u><b>

In [11]:
file.head()

,S.N.,X,Y,Z,Water Demand,Head,Pressure,Node1
0,1,628936.242,3122051.412,1020.0,NaN,1020.00,0.00,R1
1,2,628919.225,3122005.987,1000.5,0.5,1002.06,1.56,N1
2,3,628811.000,3121714.600,928.8,0.3,1001.97,73.17,N2
3,4,628820.400,3121626.900,914.1,0.3,1001.87,87.77,N3
4,5,628784.300,3121545.300,904.5,0.3,1001.78,97.28,N4

In [12]:
file_lnk.head()

,S.N.,X,Y,Z,Water Demand,linkID,Length,Diameter,Pressure Class
0,1,628927.7335,3.122029e+06,1020.0,NaN,P1,48.51,50,6H
1,2,628865.1125,3.121860e+06,1000.5,0.5,P2,310.84,200,6H
2,3,628815.7000,3.121671e+06,928.8,0.3,P3,88.20,150,6H
3,4,628802.3500,3.121586e+06,914.1,0.3,P4,89.23,150,6H
4,5,628780.0500,3.121493e+06,904.5,0.3,P5,104.25,110,6H

In [13]:
file_lnkana.head()

   S.N.            X             Y       Z Pipe ID  flow  Velocity  Headloss
0     1  628927.7335  3.122029e+06  1020.0      P1  7.05      0.22      0.30
1     2  628865.1125  3.121860e+06  1000.5      P2  6.75      0.38      1.13
2     3  628815.7000  3.121671e+06   928.8      P3  6.45      0.36      1.04
3     4  628802.3500  3.121586e+06   914.1      P4  6.15      0.65      4.44
4     5  628780.0500  3.121493e+06   904.5      P5  5.85      0.62      4.04

 <font face="Arial" size="+1.7" color="blue"><u><b>7.Finding number of Nodes.</u><b>

In [14]:
n=file['S.N.'].count()
n

19

 <font face="Arial" size="+1.7" color="blue"><u><b>8.Finding number of links.</u><b>

In [15]:
n1=file_lnk['S.N.'].count()
n1

18

In [16]:
n2=file_lnkana['S.N.'].count()
n2

18

 <font face="Arial" size="+1.7" color="blue"><u><b>9.This code cell will draw points(Nodes) on autocad modelspace and also list the points for connecting it with lines.</u><b>

In [20]:
points_list=[]
for i in range(n):
    points= APoint(file['X'][i],file['Y'][i],file['Z'][i])
    #print("Points no {} : x = {} , y = {} ".format(i+1,points[0],points[1]))
    #print(points)
    # 
    InsertionPnt=points
    pointblock=acad.model.InsertBlock(InsertionPnt,'point_block',7.5,7.5,7.5,0)
    pointblock.layer = 'node'
    points_list.append(points)
    
    points_loc=APoint(points[0]+8,points[1]+3)
    text_length=acad.model.AddText('%s'%(file['Node1'][i]),points_loc,5)
    text_length.layer='node'
    #text_data=acad.model.AddText('   (water demand = %s lps)'%(file['Water Demand'][i]),points_loc,2)
    #text_data=acad.model.AddText('   (demand = %s lps,Residual Pressure = %s m)'%(file['Water Demand'][i],file['Residual Pressure'][i]),points_loc,5)
    #text_data.layer='text'

 <font face="Arial" size="+1.7" color="blue"><u><b>10.This code cell will label link design data on autocad modelspace at midpoint of every link respectively.</u><b>

In [21]:
points_list1=[]
for i in range(n1):
    points= APoint(file_lnk['X'][i],file_lnk['Y'][i],file_lnk['Z'][i])
    #print("Points no {} : x = {} , y = {} ".format(i+1,points[0],points[1]))
    #print(points)

    points_loc=APoint(points[0]+25,points[1])
    text_length=acad.model.AddText('%s'%(file_lnk['linkID'][i]),points_loc,5)
    text_length.layer='linkid'
    text_length=acad.model.AddText('       (%s m-DN %s mm-%s)'%(file_lnk['Length'][i],file_lnk['Diameter'][i],file_lnk['Pressure Class'][i]),points_loc,3)
    text_length.layer='text'

 <font face="Arial" size="+1.7" color="blue"><u><b>11.This code cell will label link analysis data on autocad modelspace at midpoint of every link respectively.</u><b>

In [22]:
points_list2=[]
for i in range(n2):
    points= APoint(file_lnkana['X'][i],file_lnkana['Y'][i],file_lnkana['Z'][i])
    #print("Points no {} : x = {} , y = {} ".format(i+1,points[0],points[1]))
    #print(points)
 
    points_loc=APoint(points[0]+20,points[1]-10)
    text_length=acad.model.AddText('       (Q = %s lps v = %s m/s h_loss = %s m )'%(file_lnkana['flow'][i],file_lnkana['Velocity'][i],file_lnkana['Headloss'][i]),points_loc,3)
    text_length.layer='text'

 <font face="Arial" size="+1.7" color="blue"><u><b>12.This code cell will draw lines (link) between points(nodes) on autocad modelspace.</u><b>

In [23]:
for i in range(n):
    if i< n-1:
        line1=acad.model.AddLine(points_list[i],points_list[i+1])
        line1.layer='ln'
    else:
        break